<%- include('../partials/header', { title: 'Sign In Error' }) %>
<%- include('../partials/navbar') %>

<div class="error-page">
    <div class="error-container">
        <h1 class="display-4 text-danger">Access Denied</h1>
        <p class="lead">You are not allowed to sign up or sign in at this time.</p>
        <p>If you believe this is a mistake, please contact support.</p>
        <a href="/" class="btn btn-primary">Go to Homepage</a>
    </div>
</div>

<%- include('../partials/footer') %>
